<div class="container-fluid">
<footer class=" center footer">
<small> copyright &copy; Ruby on Rails Application </small>
<nav>
    <ul>
        <li class="left">
            <%= link_to "about", about_path %>
        </li>
    </ul>
</nav>
</footer>
</div>